
        <h2 id="general_Friday">Friday – October 3</h2>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <th>Time (local)</th>
                    <th>Apo</th>
                    <th>Mayon</th>
                    <th>Pulag</th>
                    <th>Guiting-guiting <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Online Workshops <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Banahaw <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Kanlaon <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T01:30:00Z">09:30</a></td>
                        <td rowspan="1" id="session_GEBE8Z">
        <a href="/sessions/GEBE8Z">Opening</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td></td><td></td><td></td><td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T02:30:00Z">10:30</a></td>
                        <td rowspan="1" id="session_U9MSCX">
        <a href="/sessions/U9MSCX">HOT 15-year Anniversary</a>    <br><span class="speaker">Geoffrey Kateregga
    </span>
</td>
<td></td><td></td><td></td><td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T03:00:00Z">11:00</a></td>
                        <td colspan="7" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T04:00:00Z">12:00</a></td>
                        <td></td><td rowspan="1" id="session_LPDJXY">
        <a href="/sessions/LPDJXY">Awesome (OSM) Games</a>    <br><span class="speaker">Ben Hur Pintor
    </span>
</td>
<td rowspan="1" id="session_AL8ZGL">
        <a href="/sessions/AL8ZGL">Thinking Beyond the Map</a>    <br><span class="speaker">Ivan Harris Tanyag
    </span>
</td>
<td></td><td></td><td rowspan="4" id="session_7Y9W7Q">
        <a href="/sessions/7Y9W7Q">Birds of Feather/BoF Banahaw I</a>    <br><span class="speaker">
    </span>
</td>
<td rowspan="4" id="session_PHEYCV">
        <a href="/sessions/PHEYCV">Birds of Feather/BoF Kanlaon I</a>    <br><span class="speaker">
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T04:30:00Z">12:30</a></td>
                        <td></td><td rowspan="3" id="session_NRJEVM">
        <a href="/sessions/NRJEVM">Walking Milano: Unveiling the City’s Character Through 360° Street-Level Panorama Imagery.</a>    <br><span class="speaker">Taichi Furuhashi
    </span>
</td>
<td rowspan="1" id="session_LJGVP9">
        <a href="/sessions/LJGVP9">PlaceCrafter: Curating Urban Functional Regions through Platial Clustering of OpenStreetMap Points of Interest</a>&nbsp;<span title="academic talk">🎓</span>&nbsp;<span title="this session is pre-recorded">📼</span>    <br><span class="speaker">James Williams
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T04:35:00Z">12:35</a></td>
                        <td></td><td rowspan="1" id="session_YMCEX7">
        <a href="/sessions/YMCEX7">Leveraging OpenStreetMap for hyperlocal geocoding of Twitter data: A spatiotemporal analysis of the 2016 Haifa (Israel) wildfire</a>&nbsp;<span title="academic talk">🎓</span>&nbsp;<span title="this session is pre-recorded">📼</span>    <br><span class="speaker">Motti Zohar
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T04:40:00Z">12:40</a></td>
                        <td></td><td rowspan="1" id="session_BDTYZ9">
        <a href="/sessions/BDTYZ9">OSMlanduse: A dataset of European Union land use at 10 m resolution derived from OpenStreetMap and Sentinel-2</a>&nbsp;<span title="academic talk">🎓</span>&nbsp;<span title="this session is pre-recorded">📼</span>    <br><span class="speaker">Michael Schultz
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T05:00:00Z">13:00</a></td>
                        <td colspan="7" class="fill-darken0 scheduleBreak">Lunch Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T06:30:00Z">14:30</a></td>
                        <td rowspan="3" id="session_XTXSYU">
        <a href="/sessions/XTXSYU">Birds of Feather/BoF Apo I</a>    <br><span class="speaker">
    </span>
</td>
<td rowspan="1" id="session_9HN9SX">
        <a href="/sessions/9HN9SX">Keeping alive OSMTracker</a>    <br><span class="speaker">Jaime Gutiérrez Alfaro, Diego Munguía Molina
    </span>
</td>
<td rowspan="1" id="session_EH3ZWQ">
        <a href="/sessions/EH3ZWQ">When Metadata Isn’t Enough: Extrinsic Quality Assessment of OSM Using Custom Reference Data</a>&nbsp;<span title="academic talk">🎓</span>    <br><span class="speaker">Daniel Kašík
    </span>
</td>
<td rowspan="2" id="session_TVAWMZ">
        <a href="/sessions/TVAWMZ">Getting Started with QGIS: A Beginner&#39;s Guide to Mapping with Open-Source Tools</a>    <br><span class="speaker">Mohamed Haniffa Fathima Hasna
    </span>
</td>
<td></td><td rowspan="3" id="session_D7CZVS">
        <a href="/sessions/D7CZVS">Birds of Feather/BoF Banahaw II</a>    <br><span class="speaker">
    </span>
</td>
<td rowspan="3" id="session_78RJQL">
        <a href="/sessions/78RJQL">Birds of Feather/BoF Kanlaon II</a>    <br><span class="speaker">
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T07:00:00Z">15:00</a></td>
                        <td rowspan="2" id="session_H3NM7X">
        <a href="/sessions/H3NM7X">Mapping workflows in iD for new, intermediate and advanced mappers</a>    <br><span class="speaker">Martin Raifer
    </span>
</td>
<td rowspan="1" id="session_WJDTBX">
        <a href="/sessions/WJDTBX">User testing of AI-assisted mapping tool fAIr</a>&nbsp;<span title="academic talk">🎓</span>    <br><span class="speaker">Radim Štampach
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T07:30:00Z">15:30</a></td>
                        <td rowspan="1" id="session_CWLZMQ">
        <a href="/sessions/CWLZMQ">Intelligent Enough? Evaluating Collective Action in HOT Tasking Manager Mapping Projects</a>&nbsp;<span title="academic talk">🎓</span>    <br><span class="speaker">Héctor Ochoa Ortiz
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T08:00:00Z">16:00</a></td>
                        <td colspan="7" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T08:30:00Z">16:30</a></td>
                        <td rowspan="6" id="session_ABRBCZ">
        <a href="/sessions/ABRBCZ">Birds of Feather/BoF Apo II</a>    <br><span class="speaker">
    </span>
</td>
<td rowspan="4" id="session_P3FWCW">
        <a href="/sessions/P3FWCW">Lightning Talks I</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td rowspan="1" id="session_EK9UYY">
        <a href="/sessions/EK9UYY">EUthMappers - learning by teaching mapping</a>&nbsp;<span title="academic talk">🎓</span>&nbsp;<span title="this session is pre-recorded">📼</span>    <br><span class="speaker">Quang Huy NGUYEN
    </span>
</td>
<td rowspan="6" id="session_QJRY8D">
        <a href="/sessions/QJRY8D">Cebu Mapathon</a>    <br><span class="speaker">Mikko Tamura, Maria Simeona
    </span>
</td>
<td rowspan="6" id="session_KJPKWT">
        <a href="/sessions/KJPKWT">ORS-Tools - Beginner-friendly Mobility Analysis with OpenStreetMap and openrouteservice in QGIS</a>    <br><span class="speaker">Benjamin Herfort, Julian Psotta, Jakob Schnell, Till Frankenbach
    </span>
</td>
<td rowspan="6" id="session_YSYTHC">
        <a href="/sessions/YSYTHC">Birds of Feather/BoF Banahaw III</a>    <br><span class="speaker">
    </span>
</td>
<td rowspan="6" id="session_DUFFPF">
        <a href="/sessions/DUFFPF">Birds of Feather/BoF Kanlaon III</a>    <br><span class="speaker">
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T08:35:00Z">16:35</a></td>
                        <td rowspan="1" id="session_GCAXF9">
        <a href="/sessions/GCAXF9">Behaviour-Based Quality Assessment of OpenStreetMap Data in Data Scarce Area Using Unsupervised Machine Learning</a>&nbsp;<span title="academic talk">🎓</span>&nbsp;<span title="this session is pre-recorded">📼</span>    <br><span class="speaker">Maruf Ahmed
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T08:40:00Z">16:40</a></td>
                        <td rowspan="1" id="session_8UZC9Y">
        <a href="/sessions/8UZC9Y">Open Mapping for Urban Resilience: A Routing Model to Nearest Safe Spaces in Earthquake-Vulnerable Dhaka</a>&nbsp;<span title="academic talk">🎓</span>&nbsp;<span title="this session is pre-recorded">📼</span>    <br><span class="speaker">Ramisa Maliha
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T08:45:00Z">16:45</a></td>
                        <td rowspan="1" id="session_BNYFHF">
        <a href="/sessions/BNYFHF">What opinions do LLMs/chatbots have about OpenStreetMap?</a>&nbsp;<span title="academic talk">🎓</span>&nbsp;<span title="this session is pre-recorded">📼</span>    <br><span class="speaker">Peter Mooney
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T09:00:00Z">17:00</a></td>
                        <td rowspan="1" id="session_8KKLCS">
        <a href="/sessions/8KKLCS">Resilience Starts with a Map: Community-Led OSM Action in Dhaka’s Climate-Vulnerable Settlements</a>&nbsp;<span title="this session is pre-recorded">📼</span>    <br><span class="speaker">Faiza Waziha
    </span>
</td>
<td rowspan="1" id="session_8KQRCY">
        <a href="/sessions/8KQRCY">Platinum Sponsor Session: OSM Data for Two-Wheelers and Safety</a>    <br><span class="speaker">Soh Leng
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T09:20:00Z">17:20</a></td>
                        <td rowspan="1" id="session_RUCRPS">
        <a href="/sessions/RUCRPS">Addressing Participation Gaps in Nepal’s OSM Ecosystem: Strategies for Long-Term Community Retention</a>&nbsp;<span title="this session is pre-recorded">📼</span>    <br><span class="speaker">Dibikshya Shrestha
    </span>
</td>
<td rowspan="1" id="session_TZNMJG">
        <a href="/sessions/TZNMJG">Platinum Sponsor Session: From Edits to Impact - TomTom’s Journey with OpenStreetMap Communities</a>    <br><span class="speaker">Kiran Ahire, Hajar ElOuafi
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T10:00:00Z">18:00</a></td>
                        <td colspan="7" class="fill-darken0 scheduleBreak">Welcome Party at GT Toyota Auditorium</td>
                                            </tr>
             </tbody>
        </table>
        <h2 id="general_Saturday">Saturday – October 4</h2>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <th>Time (local)</th>
                    <th>Mayon</th>
                    <th>Pulag</th>
                    <th>Guiting-guiting <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Online Workshops <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Banahaw <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Kanlaon <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T01:30:00Z">09:30</a></td>
                        <td rowspan="1" id="session_JUSRXF">
        <a href="/sessions/JUSRXF">OpenStreetMap x Wikidata Collaboration: Taiwan Case</a>    <br><span class="speaker">Dennis Raylin Chen
    </span>
</td>
<td rowspan="1" id="session_P8MPHS">
        <a href="/sessions/P8MPHS">Lessons from teaching OpenStreetMap in a masters program</a>    <br><span class="speaker">Paul Pickell
    </span>
</td>
<td rowspan="2" id="session_8F3JWB">
        <a href="/sessions/8F3JWB">From Maps to Models: Building AI Context Tools for OpenStreetMap</a>    <br><span class="speaker">Subhash Dulla, Ranjith Raj Vasam
    </span>
</td>
<td></td><td rowspan="3" id="session_BX7SEA">
        <a href="/sessions/BX7SEA">Birds of Feather/BoF Banahaw IV</a>    <br><span class="speaker">
    </span>
</td>
<td rowspan="3" id="session_WQC8MU">
        <a href="/sessions/WQC8MU">Birds of Feather/BoF Kanlaon IV</a>    <br><span class="speaker">
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T02:00:00Z">10:00</a></td>
                        <td rowspan="1" id="session_MTS9TS">
        <a href="/sessions/MTS9TS">The Ugandan Geo Quests: Mapping Libraries and Museums into the Knowledge Commons</a>    <br><span class="speaker">Micheal Kaluba
    </span>
</td>
<td rowspan="1" id="session_Y7CD9M">
        <a href="/sessions/Y7CD9M">Integrating OpenStreetMap &amp; HOT Tasking Manager into Cartography Curriculum</a>    <br><span class="speaker">Samson Ngumenawe
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T02:30:00Z">10:30</a></td>
                        <td rowspan="1" id="session_NVHF3U">
        <a href="/sessions/NVHF3U">Lightning Talks II</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td rowspan="1" id="session_MNCZTF">
        <a href="/sessions/MNCZTF">OpenStreetMap in Higher Education: Lessons Learned and Best Practices</a>    <br><span class="speaker">Md Atikuzzaman Limon
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T03:00:00Z">11:00</a></td>
                        <td colspan="6" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T03:30:00Z">11:30</a></td>
                        <td rowspan="1" id="session_N89YSU">
        <a href="/sessions/N89YSU">How to Complete Japan’s Building Mapping in One Year? Strategies for Integrating PLATEAU Data into OSM</a>    <br><span class="speaker">Taichi Furuhashi
    </span>
</td>
<td rowspan="1" id="session_VTGCCY">
        <a href="/sessions/VTGCCY">Community-Driven Data: How Local Knowledge is Reshaping Urban Waste Systems</a>    <br><span class="speaker">Emanuel Kombe
    </span>
</td>
<td rowspan="2" id="session_WKU97L">
        <a href="/sessions/WKU97L">Managing Remote Mapping Projects in the HOT Tasking Manager</a>    <br><span class="speaker">Dinar Adiatma
    </span>
</td>
<td></td><td rowspan="3" id="session_HQH3RH">
        <a href="/sessions/HQH3RH">Birds of Feather/BoF Banahaw V</a>    <br><span class="speaker">
    </span>
</td>
<td rowspan="3" id="session_BL3X39">
        <a href="/sessions/BL3X39">Birds of Feather/BoF Kanlaon V</a>    <br><span class="speaker">
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T04:00:00Z">12:00</a></td>
                        <td rowspan="1" id="session_3HRTVP">
        <a href="/sessions/3HRTVP">fAIrSwipe</a>    <br><span class="speaker">Omran NAJJAR
    </span>
</td>
<td rowspan="1" id="session_8VMYYW">
        <a href="/sessions/8VMYYW">Translating “Open Mapping Towards SDGs”: A YouthMappers Student Project from Furuhashi Lab, Japan</a>    <br><span class="speaker">Aki Sato
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T04:30:00Z">12:30</a></td>
                        <td rowspan="1" id="session_ABLRCG">
        <a href="/sessions/ABLRCG">World-Map-Explorer – Explore the world with ease</a>    <br><span class="speaker">Manoj Karingamadathil
    </span>
</td>
<td rowspan="1" id="session_TX88WD">
        <a href="/sessions/TX88WD">Making OpenStreetMap More Accessible for New Mappers</a>    <br><span class="speaker">Brazil Singh
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T05:00:00Z">13:00</a></td>
                        <td colspan="6" class="fill-darken0 scheduleBreak">Lunch Break and Group Photo</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T06:30:00Z">14:30</a></td>
                        <td rowspan="1" id="session_CBMXL3">
        <a href="/sessions/CBMXL3">Journey to the Center of the Planet</a>    <br><span class="speaker">Minh Nguyễn
    </span>
</td>
<td rowspan="1" id="session_MM8TEB">
        <a href="/sessions/MM8TEB">Mapping for Impact: Introducing Open Mapping to Civil Society in Sri Lanka</a>    <br><span class="speaker">Mohamed Haniffa Fathima Hasna
    </span>
</td>
<td rowspan="2" id="session_LV9MRX">
        <a href="/sessions/LV9MRX">Beyond the Binary: Gender, Language, and Representation in Open Mapping</a>    <br><span class="speaker">Benedicta Ohene, Arnalie Vicario, Letwin
    </span>
</td>
<td rowspan="2" id="session_PGAYVT">
        <a href="/sessions/PGAYVT">Introduction to JOSM and some plugins</a>    <br><span class="speaker">Michael Montani
    </span>
</td>
<td rowspan="3" id="session_WELJ3Y">
        <a href="/sessions/WELJ3Y">Birds of Feather/BoF Banahaw VI</a>    <br><span class="speaker">
    </span>
</td>
<td rowspan="3" id="session_W7MXZR">
        <a href="/sessions/W7MXZR">Birds of Feather/BoF Kanlaon VI</a>    <br><span class="speaker">
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T07:00:00Z">15:00</a></td>
                        <td rowspan="1" id="session_GQKLBA">
        <a href="/sessions/GQKLBA">Overpass Turbo goes PostGIS</a>    <br><span class="speaker">Frederik Ramm
    </span>
</td>
<td rowspan="1" id="session_YHRMZM">
        <a href="/sessions/YHRMZM">Women Who Map: My Mission to Build Inclusive Mapping Communities in Nepal</a>    <br><span class="speaker">Prativa Thapa
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T07:30:00Z">15:30</a></td>
                        <td rowspan="1" id="session_SAWRUB">
        <a href="/sessions/SAWRUB">Lightning Talks III</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td rowspan="1" id="session_DV3PQU">
        <a href="/sessions/DV3PQU">Mapping My Way Forward: How OSM and YouthMappers Launched My Career in Geospatial Tech.</a>    <br><span class="speaker">KASOZI DENIS
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T08:00:00Z">16:00</a></td>
                        <td colspan="6" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T08:30:00Z">16:30</a></td>
                        <td rowspan="1" id="session_BDNRAA">
        <a href="/sessions/BDNRAA">Local First in a Diverse Democracy: India’s Decentralized Path to Hosting the First Regional SotM</a>    <br><span class="speaker">ark Arjun
    </span>
</td>
<td rowspan="1" id="session_RD3WXL">
        <a href="/sessions/RD3WXL">OSM Swiss Style and the new OSM Swiss Base Map</a>&nbsp;<span title="this session is pre-recorded">📼</span>    <br><span class="speaker">Stefan Keller
    </span>
</td>
<td></td><td></td><td rowspan="2" id="session_SMPTBL">
        <a href="/sessions/SMPTBL">Birds of Feather/BoF Banahaw VII</a>    <br><span class="speaker">
    </span>
</td>
<td rowspan="2" id="session_CBUWLQ">
        <a href="/sessions/CBUWLQ">Birds of Feather/BoF Kanlaon VII</a>    <br><span class="speaker">
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T09:00:00Z">17:00</a></td>
                        <td rowspan="1" id="session_MHL8MU">
        <a href="/sessions/MHL8MU">Where are we heading? The current state of OpenStreetMap in numbers.</a>&nbsp;<span title="this session is pre-recorded">📼</span>    <br><span class="speaker">Benjamin Herfort
    </span>
</td>
<td rowspan="1" id="session_M8GAVJ">
        <a href="/sessions/M8GAVJ">Modeling improvements for access to services and economic opportunities for disabled people in Freetown’s informal settlements</a>    <br><span class="speaker">Osunga Michael Otieno
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T10:00:00Z">18:00</a></td>
                        <td colspan="6" class="fill-darken0 scheduleBreak">Main Socials at Hype Club, Quezon City</td>
                                            </tr>
             </tbody>
        </table>
        <h2 id="general_Sunday">Sunday – October 5</h2>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <th>Time (local)</th>
                    <th>Apo</th>
                    <th>Mayon</th>
                    <th>Pulag</th>
                    <th>Guiting-guiting <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Banahaw <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Kanlaon <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T01:30:00Z">09:30</a></td>
                        <td></td><td rowspan="1" id="session_MDWSKG">
        <a href="/sessions/MDWSKG">Address and street name grids in the Philippines</a>    <br><span class="speaker">Dan Jacobson
    </span>
</td>
<td rowspan="1" id="session_9R8TBE">
        <a href="/sessions/9R8TBE">City-Scale Open Community Drone Mapping - A World First in Sierra Leone?</a>    <br><span class="speaker">Tommy Charles
    </span>
</td>
<td rowspan="2" id="session_FZKAAE">
        <a href="/sessions/FZKAAE">From Sprawl to Strategy, Leveraging OpenStreetMap for Smarter Urban Growth Analysis a case of Dodoma City</a>    <br><span class="speaker">Johanes Petro Machela
    </span>
</td>
<td rowspan="3" id="session_S9ZN8F">
        <a href="/sessions/S9ZN8F">Birds of Feather/BoF Banahaw VIII</a>    <br><span class="speaker">
    </span>
</td>
<td rowspan="3" id="session_KRCXGS">
        <a href="/sessions/KRCXGS">Birds of Feather/BoF Kanlaon VIII</a>    <br><span class="speaker">
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T02:00:00Z">10:00</a></td>
                        <td></td><td rowspan="1" id="session_GSLL8S">
        <a href="/sessions/GSLL8S">UN Mappers: Building a Community of Mappers to Support Peace with OpenStreetMap</a>    <br><span class="speaker">Arnalie Vicario, Michael Montani
    </span>
</td>
<td rowspan="1" id="session_YDENQX">
        <a href="/sessions/YDENQX">The Role of Crowdsourced Damage Assessment in Disaster Response and Recovery</a>    <br><span class="speaker">Honey Fombuena, Bernard Heng
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T02:30:00Z">10:30</a></td>
                        <td></td><td rowspan="1" id="session_YDSFTB">
        <a href="/sessions/YDSFTB">Lightning Talks IV</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td rowspan="1" id="session_RMVQF9">
        <a href="/sessions/RMVQF9">OSM mapping of building damage - review and prospects after Chido in Mayotte</a>&nbsp;<span title="this session is pre-recorded">📼</span>    <br><span class="speaker">Séverin Ménard
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T03:00:00Z">11:00</a></td>
                        <td colspan="6" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T03:30:00Z">11:30</a></td>
                        <td></td><td rowspan="1" id="session_CTPAV7">
        <a href="/sessions/CTPAV7">It’s complicated</a>    <br><span class="speaker">Minh Nguyễn
    </span>
</td>
<td rowspan="1" id="session_TFURNU">
        <a href="/sessions/TFURNU">From Mappers to Movement Builders: Strengthening Local Leadership through Open Mapping Gurus</a>    <br><span class="speaker">Mikko Tamura, Honey Fombuena
    </span>
</td>
<td rowspan="2" id="session_KVEUCX">
        <a href="/sessions/KVEUCX">Steph-outside: Outdoor Mapping under the bright Sky with KartaView and Mapillary</a>    <br><span class="speaker">Feye Andal
    </span>
</td>
<td rowspan="3" id="session_7PYYGQ">
        <a href="/sessions/7PYYGQ">Birds of Feather/BoF Banahaw IX</a>    <br><span class="speaker">
    </span>
</td>
<td rowspan="3" id="session_RNGYZB">
        <a href="/sessions/RNGYZB">Birds of Feather/BoF Kanlaon IX</a>    <br><span class="speaker">
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T04:00:00Z">12:00</a></td>
                        <td></td><td rowspan="1" id="session_UUTQZX">
        <a href="/sessions/UUTQZX">Why and how to visualize OSM data using pmtiles</a>    <br><span class="speaker">Daniele Santini
    </span>
</td>
<td rowspan="1" id="session_N79KTE">
        <a href="/sessions/N79KTE">Lightning Talks V</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T04:30:00Z">12:30</a></td>
                        <td></td><td rowspan="1" id="session_3WWGYS">
        <a href="/sessions/3WWGYS">What Could You Do with 100 Days of Mapping?</a>    <br><span class="speaker">Laura Mugeha
    </span>
</td>
<td rowspan="1" id="session_XXHWYH">
        <a href="/sessions/XXHWYH">Community Participatory Mapping of Water Sanitation and Hygiene Access for Sustainable Urban Planning.</a>&nbsp;<span title="this session is pre-recorded">📼</span>    <br><span class="speaker">Esther Judith
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T05:00:00Z">13:00</a></td>
                        <td colspan="6" class="fill-darken0 scheduleBreak">Lunch Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T06:30:00Z">14:30</a></td>
                        <td rowspan="1" id="session_ECRTL9">
        <a href="/sessions/ECRTL9">OSMF Board AMA</a>    <br><span class="speaker">Brazil Singh, Laura Mugeha, Héctor Ochoa Ortiz, Roland Olbricht, Craig Allan
    </span>
</td>
<td></td><td></td><td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T07:30:00Z">15:30</a></td>
                        <td colspan="6" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T08:00:00Z">16:00</a></td>
                        <td rowspan="1" id="session_W8PJRF">
        <a href="/sessions/W8PJRF">OpenStreetMap Awards 2025</a>    <br><span class="speaker">Ilya Zverev, SotM Working Group
    </span>
</td>
<td></td><td></td><td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T08:30:00Z">16:30</a></td>
                        <td rowspan="1" id="session_L9M8UP">
        <a href="/sessions/L9M8UP">Closing</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td></td><td></td><td></td><td></td><td></td>                    </tr>
             </tbody>
        </table>

