
        <h2 id="general_Friday">Friday – October 3</h2>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <th>Time (local)</th>
                    <th>Auditorium <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Talks I <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Workshops <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T01:00:00Z">09:00</a></td>
                        <td rowspan="1" id="session_GEBE8Z">
        <a href="/sessions/GEBE8Z">Opening</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T02:00:00Z">10:00</a></td>
                        <td rowspan="1" id="session_U9MSCX">
        <a href="/sessions/U9MSCX">HOT 15-year Anniversary</a>    <br><span class="speaker">Geoffrey Kateregga
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T02:30:00Z">10:30</a></td>
                        <td colspan="3" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T03:30:00Z">11:30</a></td>
                        <td></td><td rowspan="1" id="session_AL8ZGL">
        <a href="/sessions/AL8ZGL">Thinking Beyond the Map</a>    <br><span class="speaker">Ivan Harris Tanyag
    </span>
</td>
<td rowspan="2" id="session_KJPKWT">
        <a href="/sessions/KJPKWT">ORS-Tools - Beginner-friendly Mobility Analysis with OpenStreetMap and openrouteservice in QGIS</a>    <br><span class="speaker">Benjamin Herfort, Julian Psotta
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T04:00:00Z">12:00</a></td>
                        <td></td><td rowspan="1" id="session_LPDJXY">
        <a href="/sessions/LPDJXY">Awesome (OSM) Games</a>    <br><span class="speaker">Ben Hur Pintor
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T04:30:00Z">12:30</a></td>
                        <td></td><td rowspan="1" id="session_NRJEVM">
        <a href="/sessions/NRJEVM">Walking Milano: Unveiling the City’s Character Through 360° Street-Level Panorama Imagery.</a>    <br><span class="speaker">Taichi Furuhashi
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T05:00:00Z">13:00</a></td>
                        <td colspan="3" class="fill-darken0 scheduleBreak">Lunch Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T06:30:00Z">14:30</a></td>
                        <td></td><td rowspan="1" id="session_9HN9SX">
        <a href="/sessions/9HN9SX">Keeping alive OSMTracker</a>    <br><span class="speaker">Jaime Gutiérrez Alfaro, Diego Munguía Molina
    </span>
</td>
<td rowspan="2" id="session_TVAWMZ">
        <a href="/sessions/TVAWMZ">Getting Started with QGIS: A Beginner&#39;s Guide to Mapping with Open-Source Tools</a>    <br><span class="speaker">Mohamed Haniffa Fathima Hasna
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T07:00:00Z">15:00</a></td>
                        <td></td><td rowspan="1" id="session_H3NM7X">
        <a href="/sessions/H3NM7X">Mapping workflows in iD for new, intermediate and advanced mappers</a>    <br><span class="speaker">Martin Raifer
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T08:00:00Z">16:00</a></td>
                        <td colspan="3" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T08:30:00Z">16:30</a></td>
                        <td></td><td rowspan="1" id="session_CBMXL3">
        <a href="/sessions/CBMXL3">Journey to the Center of the Planet</a>    <br><span class="speaker">Minh Nguyễn
    </span>
</td>
<td rowspan="2" id="session_ZHERRE">
        <a href="/sessions/ZHERRE">From Drones to Data: workshop on high precision imagery, AI powered mapping and field validation</a>    <br><span class="speaker">Ramya Ragupathy, Honey Fombuena
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T09:00:00Z">17:00</a></td>
                        <td></td><td rowspan="1" id="session_RUCRPS">
        <a href="/sessions/RUCRPS">Addressing Participation Gaps in Nepal’s OSM Ecosystem: Strategies for Long-Term Community Retention</a>    <br><span class="speaker">Dibikshya Shrestha
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-03T09:30:00Z">17:30</a></td>
                        <td></td><td rowspan="1" id="session_MHL8MU">
        <a href="/sessions/MHL8MU">Where are we heading? The current state of OpenStreetMap in numbers.</a>    <br><span class="speaker">Benjamin Herfort
    </span>
</td>
<td></td>                    </tr>
             </tbody>
        </table>
        <h2 id="general_Saturday">Saturday – October 4</h2>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <th>Time (local)</th>
                    <th>Talks I <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Talks II <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Workshops <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Online Workshops <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T01:30:00Z">09:30</a></td>
                        <td rowspan="1" id="session_JUSRXF">
        <a href="/sessions/JUSRXF">OpenStreetMap x Wikidata Collaboration: Taiwan Case</a>    <br><span class="speaker">Dennis Raylin Chen
    </span>
</td>
<td rowspan="1" id="session_P8MPHS">
        <a href="/sessions/P8MPHS">Lessons from teaching OpenStreetMap in a masters program</a>    <br><span class="speaker">Paul Pickell
    </span>
</td>
<td rowspan="2" id="session_8F3JWB">
        <a href="/sessions/8F3JWB">From Maps to Models: Building AI Context Tools for OpenStreetMap</a>    <br><span class="speaker">Subhash Dulla
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T02:00:00Z">10:00</a></td>
                        <td rowspan="1" id="session_MTS9TS">
        <a href="/sessions/MTS9TS">The Ugandan Geo Quests: Mapping Libraries and Museums into the Knowledge Commons</a>    <br><span class="speaker">Micheal Kaluba
    </span>
</td>
<td rowspan="1" id="session_Y7CD9M">
        <a href="/sessions/Y7CD9M">Integrating OpenStreetMap &amp; HOT Tasking Manager into Cartography Curriculum</a>    <br><span class="speaker">Samson Ngumenawe
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T02:30:00Z">10:30</a></td>
                        <td rowspan="1" id="session_NVHF3U">
        <a href="/sessions/NVHF3U">Lightning Talks I</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td rowspan="1" id="session_MNCZTF">
        <a href="/sessions/MNCZTF">OpenStreetMap in Higher Education: Lessons Learned and Best Practices</a>    <br><span class="speaker">Md Atikuzzaman Limon
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T03:00:00Z">11:00</a></td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T03:30:00Z">11:30</a></td>
                        <td rowspan="1" id="session_PN8AJ9">
        <a href="/sessions/PN8AJ9">Why settle? Make Every Door do what you want</a>    <br><span class="speaker">Ilya Zverev
    </span>
</td>
<td rowspan="1" id="session_VTGCCY">
        <a href="/sessions/VTGCCY">Community-Driven Data: How Local Knowledge is Reshaping Urban Waste Systems</a>    <br><span class="speaker">Emanuel Kombe
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T04:00:00Z">12:00</a></td>
                        <td rowspan="1" id="session_3HRTVP">
        <a href="/sessions/3HRTVP">fAIrSwipe</a>    <br><span class="speaker">Omran NAJJAR
    </span>
</td>
<td rowspan="1" id="session_8VMYYW">
        <a href="/sessions/8VMYYW">Translating “Open Mapping Towards SDGs”: A YouthMappers Student Project from Furuhashi Lab, Japan</a>    <br><span class="speaker">Aki Sato
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T04:30:00Z">12:30</a></td>
                        <td rowspan="1" id="session_ABLRCG">
        <a href="/sessions/ABLRCG">World-Map-Explorer – Explore the world with ease</a>    <br><span class="speaker">Manoj Karingamadathil
    </span>
</td>
<td rowspan="1" id="session_TX88WD">
        <a href="/sessions/TX88WD">Making OpenStreetMap More Accessible for New Mappers</a>    <br><span class="speaker">Brazil Singh
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T05:00:00Z">13:00</a></td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Lunch Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T06:30:00Z">14:30</a></td>
                        <td rowspan="1" id="session_CTPAV7">
        <a href="/sessions/CTPAV7">It’s complicated</a>    <br><span class="speaker">Minh Nguyễn
    </span>
</td>
<td rowspan="1" id="session_MM8TEB">
        <a href="/sessions/MM8TEB">Mapping for Impact: Introducing Open Mapping to Civil Society in Sri Lanka</a>    <br><span class="speaker">Mohamed Haniffa Fathima Hasna
    </span>
</td>
<td rowspan="2" id="session_LV9MRX">
        <a href="/sessions/LV9MRX">Beyond the Binary: Gender, Language, and Representation in Open Mapping</a>    <br><span class="speaker">Benedicta Ohene, Arnalie Vicario, Letwin
    </span>
</td>
<td rowspan="2" id="session_PGAYVT">
        <a href="/sessions/PGAYVT">Introduction to JOSM and some plugins</a>    <br><span class="speaker">Michael Montani
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T07:00:00Z">15:00</a></td>
                        <td rowspan="1" id="session_UUTQZX">
        <a href="/sessions/UUTQZX">Why and how to visualize OSM data using pmtiles</a>    <br><span class="speaker">Daniele Santini
    </span>
</td>
<td rowspan="2" id="session_QD3EQM">
        <a href="/sessions/QD3EQM">How we got here: three mapper stories</a>    <br><span class="speaker">Prativa Thapa, KASOZI DENIS, Bayazid Ahmed, Walter Mayeku
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T07:30:00Z">15:30</a></td>
                        <td rowspan="1" id="session_SAWRUB">
        <a href="/sessions/SAWRUB">Lightning Talks II</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T08:00:00Z">16:00</a></td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T08:30:00Z">16:30</a></td>
                        <td rowspan="1" id="session_M8GAVJ">
        <a href="/sessions/M8GAVJ">Modeling improvements for access to services and economic opportunities for disabled people in Freetown’s informal settlements</a>    <br><span class="speaker">Osunga Michael Otieno
    </span>
</td>
<td rowspan="1" id="session_BDNRAA">
        <a href="/sessions/BDNRAA">Local First in a Diverse Democracy: India’s Decentralized Path to Hosting the First Regional SotM</a>    <br><span class="speaker">ark Arjun
    </span>
</td>
<td rowspan="2" id="session_WKU97L">
        <a href="/sessions/WKU97L">Managing Remote Mapping Projects in the HOT Tasking Manager</a>    <br><span class="speaker">Dinar Adiatma
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T09:00:00Z">17:00</a></td>
                        <td rowspan="1" id="session_N89YSU">
        <a href="/sessions/N89YSU">How to Complete Japan’s Building Mapping in One Year? Strategies for Integrating PLATEAU Data into OSM</a>    <br><span class="speaker">Taichi Furuhashi
    </span>
</td>
<td rowspan="1" id="session_SS3UDV">
        <a href="/sessions/SS3UDV">SotM LATAM: How different from the global SotM it is?</a>    <br><span class="speaker">Juan Arellano Valdivia, Catalina Restrepo Martínez
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-04T09:30:00Z">17:30</a></td>
                        <td rowspan="1" id="session_RD3WXL">
        <a href="/sessions/RD3WXL">OSM Swiss Style and the new OSM Swiss Base Map</a>    <br><span class="speaker">Stefan Keller
    </span>
</td>
<td rowspan="1" id="session_8KKLCS">
        <a href="/sessions/8KKLCS">Resilience Starts with a Map: Community-Led OSM Action in Dhaka’s Climate-Vulnerable Settlements</a>    <br><span class="speaker">Faiza Waziha
    </span>
</td>
<td></td><td></td>                    </tr>
             </tbody>
        </table>
        <h2 id="general_Sunday">Sunday – October 5</h2>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <th>Time (local)</th>
                    <th>Auditorium <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Talks I <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Talks II <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Workshops <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T01:30:00Z">09:30</a></td>
                        <td></td><td rowspan="1" id="session_MDWSKG">
        <a href="/sessions/MDWSKG">Address and street name grids in the Philippines</a>    <br><span class="speaker">Dan Jacobson
    </span>
</td>
<td rowspan="1" id="session_9R8TBE">
        <a href="/sessions/9R8TBE">City-Scale Open Community Drone Mapping - A World First in Sierra Leone?</a>    <br><span class="speaker">Tommy Charles
    </span>
</td>
<td rowspan="2" id="session_FZKAAE">
        <a href="/sessions/FZKAAE">From Sprawl to Strategy, Leveraging OpenStreetMap for Smarter Urban Growth Analysis a case of Dodoma City</a>    <br><span class="speaker">Johanes Petro Machela
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T02:00:00Z">10:00</a></td>
                        <td></td><td rowspan="1" id="session_GSLL8S">
        <a href="/sessions/GSLL8S">UN Mappers: Building a Community of Mappers to Support Peace with OpenStreetMap</a>    <br><span class="speaker">Arnalie Vicario, Michael Montani
    </span>
</td>
<td rowspan="1" id="session_YDENQX">
        <a href="/sessions/YDENQX">The Role of Crowdsourced Damage Assessment in Disaster Response and Recovery</a>    <br><span class="speaker">Honey Fombuena, Bernard Heng
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T02:30:00Z">10:30</a></td>
                        <td></td><td rowspan="1" id="session_YDSFTB">
        <a href="/sessions/YDSFTB">Lightning Talks III</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td rowspan="1" id="session_RMVQF9">
        <a href="/sessions/RMVQF9">OSM mapping of building damage - review and prospects after Chido in Mayotte</a>    <br><span class="speaker">Séverin Ménard
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T03:00:00Z">11:00</a></td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T03:30:00Z">11:30</a></td>
                        <td></td><td rowspan="2" id="session_EBQSZC">
        <a href="/sessions/EBQSZC">OSM Data for Routing - From Tags to Routing &amp; Mobility Analysis</a>    <br><span class="speaker">Julian Psotta
    </span>
</td>
<td rowspan="1" id="session_TFURNU">
        <a href="/sessions/TFURNU">From Mappers to Movement Builders: Strengthening Local Leadership through Open Mapping Gurus</a>    <br><span class="speaker">Mikko Tamura, Honey Fombuena
    </span>
</td>
<td rowspan="2" id="session_KVEUCX">
        <a href="/sessions/KVEUCX">Steph-outside: Outdoor Mapping under the bright Sky with KartaView and Mapillary</a>    <br><span class="speaker">Feye Andal
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T04:00:00Z">12:00</a></td>
                        <td></td><td rowspan="1" id="session_PRATCA">
        <a href="/sessions/PRATCA">Mapping Resilience and Empowering Sustainable Development in Sri Lankan Communities through OpenStreetMap</a>    <br><span class="speaker">Rajendran Keerthana
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T04:30:00Z">12:30</a></td>
                        <td></td><td rowspan="1" id="session_3WWGYS">
        <a href="/sessions/3WWGYS">What Could You Do with 100 Days of Mapping?</a>    <br><span class="speaker">Laura Mugeha
    </span>
</td>
<td rowspan="1" id="session_XXHWYH">
        <a href="/sessions/XXHWYH">Community Participatory Mapping of Water Sanitation and Hygiene Access for Sustainable Urban Planning.</a>    <br><span class="speaker">Esther Judith
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T05:00:00Z">13:00</a></td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Lunch Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T06:30:00Z">14:30</a></td>
                        <td rowspan="1" id="session_ECRTL9">
        <a href="/sessions/ECRTL9">OSMF Board AMA</a>    <br><span class="speaker">Laura Mugeha, Héctor Ochoa Ortiz
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T07:30:00Z">15:30</a></td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T08:00:00Z">16:00</a></td>
                        <td rowspan="1" id="session_W8PJRF">
        <a href="/sessions/W8PJRF">OpenStreetMap Awards 2025</a>    <br><span class="speaker">Ilya Zverev, SotM Working Group
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2025-10-05T08:30:00Z">16:30</a></td>
                        <td rowspan="1" id="session_L9M8UP">
        <a href="/sessions/L9M8UP">Closing</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
             </tbody>
        </table>

