    <!-- About Section -->
    <section id="about" class="contain page">
      <div class="limiter clearfix pad4y">
        <div class="col8 clearfix space-bottom2 contain">
          <div class="col10 margin2r space-bottom2">
            <h1 class="space-bottom2">State of the Map 2025</h1>
            <p>State of the Map is the annual event for all mappers and OpenStreetMap users. In 2025 the State of the Map conference will be taking place in Manila, Philippines and online. It will be a three day conference packed with talks, workshops, discussion rounds and more.</p>
            <p>Your organising team.</p>

            <p>
              Watch the conference teaser to get ready for SotM 2025!
            </p>
            <iframe class="youtube-teaser" src="https://www.youtube-nocookie.com/embed/Q5dyxy6YxG0?si=66s53Bi5HnWr4fex" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col4 clearfix contain">
          <h3 class="small-title uppercase">Where?</h3>
          <p>
            <a href="venue">Manila, Philippines.</a>
          </p>

          <h3 class="small-title uppercase">When?</h3>
          <p>
            October 3 - 5, 2025
          </p>

          <!--<h3 class="small-title uppercase"><a href="events">Social Event</a></h3>
          <p>
            TBD
          </p>-->

          <!--<h3 class="small-title uppercase">Additional Events</h3>
          <ul>
          </ul>-->

          <h3 class="small-title uppercase" style="height:0">&nbsp;</h3>
          <p>
            <h4>Support OpenStreetMap!</h4>
            <small>OpenStreetMap is free to use, but not free to run. If you wish to further support the project, head over to OpenStreetMap's <a href="https://supporting.openstreetmap.org/">donation</a> page to find out how you can help improve its stability, quality and independence.</small>
            <a href="https://openstreetmap.org"><img src="img/osm.svg" style="display:block; width:85px; margin-top:20px; margin-bottom:30px;" /></a>
          </p>

          <h3 class="small-title uppercase">Venue Host</h3>
          <p>
            <small>Thanks to the University of the Philippines for the collaboration!</small>
            <a href="https://up.edu.ph/"><img src="/img/partners/up.png"  style="display:block; width:95px; margin-top:10px; margin-bottom:0px;" /></a>
            <a href="https://resilience.up.edu.ph/"><img src="/img/partners/up-ri.png"  style="display:inline-block; height:30px; margin-top:10px; margin-bottom:20px;" /></a>
            <a href="https://ieor.engg.upd.edu.ph/"><img src="/img/partners/up-ie.png"  style="display:inline-block; height:30px; margin-top:10px; margin-bottom:20px;" /></a>
            <a href="https://geog.upd.edu.ph/cssp-website/"><img src="/img/partners/up-geog.png"  style="display:inline-block; height:30px; margin-top:10px; margin-bottom:20px;" /></a>
            <a href="https://home.dge.upd.edu.ph/"><img src="/img/partners/up-ge.jpg"  style="display:inline-block; height:30px; margin-top:10px; margin-bottom:20px;" /></a>
            <a href="https://coe.upd.edu.ph/"><img src="/img/partners/up-ce.png"  style="display:inline-block; height:30px; margin-top:10px; margin-bottom:20px;" /></a>
            <a href="https://science.upd.edu.ph/"><img src="/img/partners/up-cs.png"  style="display:inline-block; height:30px; margin-top:10px; margin-bottom:20px;" /></a>
            <a href="https://nigs.upd.edu.ph/"><img src="/img/partners/up-nigs.png"  style="display:inline-block; height:30px; margin-top:10px; margin-bottom:20px;" /></a>
          </p>

          <h3 class="small-title uppercase">Other Conferences</h3>
          <p>
            <small>FOSS4G 2025 will be held in Auckland, November 17–23 2025</small>
            <a href="https://2025.foss4g.org/"><img src="https://2025.foss4g.org/_next/static/media/foss4g_2025_logo_interim.28038a5c.png"  style="display:block; width:85px; margin-top:10px; margin-bottom:20px;" /></a>
          </p>
        </div>
      </div>
    </section>
