<section class="contain dark" id="sponsors">

  <div class="limiter pad4y clearfix center" id="sponsoring-interested">
    <h1 class="space-bottom4">Interested in sponsoring?</h1>
    <p>
      Take a look at our <a href="{{site.baseurl}}/SOTM_2025_Sponsorship_Prospectus.pdf">sponsorship prospectus</a> and contact us via email at <a href="mailto:sponsor-sotm@openstreetmap.org">sponsor-sotm@openstreetmap.org</a>!
    </p>
  </div>

  <div class="limiter pad4y clearfix">
    <h1 class="space-bottom2 center">Our sponsors</h1>

    <h3 class="clearfix small-title sponsors platinum">Platinum</h3>
    <div class="sponsor">
      <a href="https://tomtom.com">
        <img src="img/sponsors/tomtom.png" style="margin-top: -10px; margin-left: -32px; width: 364px; float:left;" alt="TomTom">
      </a>
      <p style="font-size:75%; line-height:1.2; text-indent: -0.75em;">
        “ TomTom has supported the global State of the Map for years because we believe in the power of open mapping and the extraordinary community behind OSM. Together, we create richer, more accurate maps for everyone. Community-led conferences like this embody the collaborative spirit that drives innovation in mapping, and we’re honored to be part of it. This year, we’re especially excited to see how SotM continues to inspire new collaborations that elevate the value of OSM and shape the next generation of location technology. ”
      </p>
    </div>

    <div class="sponsor" style="clear:both; margin-top: 32px;">
      <a href="https://grab.com">
        <img src="img/sponsors/grab.png" style="margin-top: 10px; margin-left: 0; width: 300px; margin-right: 32px; float:left;" alt="Grab">
      </a>
      <!--<p style="font-size:75%; line-height:1.2; text-indent: -0.75em;">
        “ … ”
      </p>-->
    </div>

    <div class="clearfix space-bottom2 space-top4 platinum" style="clear:both; margin-bottom: 60px;">
      <!--<a class="col2 pad2 space-bottom2" href="mailto:sponsor-sotm@openstreetmap.org">
        <img src="img/sponsors.png" />
      </a>-->
    </div>

    <h3 class="clearfix small-title sponsors gold">Gold</h3>
    <div class="col3 pad1 space-bottom2 sponsor">
      <a href="https://esri.com">
        <img src="img/sponsors/esri.png" style="margin-top: 0px;" alt="ESRI">
      </a>
    </div>
    <div class="clearfix space-top2 space-bottom4">
      <!--<a class="col2 pad2 space-bottom2" href="mailto:sponsor-sotm@openstreetmap.org">
        <img src="img/sponsors.png" />
      </a>-->
    </div>

    <!--<h3 class="clearfix small-title sponsors silver">Silver</h3>
    <div class="clearfix space-top2 space-bottom4">
      <a class="col2 pad2 space-bottom2" href="mailto:sponsor-sotm@openstreetmap.org">
        <img src="img/sponsors.png" />
      </a>
    </div>-->

    <h3 class="clearfix small-title sponsors bronze">Bronze</h3>
    <div class="clearfix space-top2 space-bottom4">
      <div class="col2 pad1 space-bottom2 sponsor">
        <a href="https://www.nianticspatial.com/ ">
          <img src="img/sponsors/niantic.png" style="margin-top: 4px;" alt="Niantic">
        </a>
      </div>
      <div class="col2 pad1 space-bottom2 sponsor" style="margin-left: 10px;">
        <a href="https://www.geofabrik.de">
          <img src="img/sponsors/geofabrik.png" style="margin-top: 16px;" alt="Geofabrik">
        </a>
      </div>
      <div class="col2 pad1 space-bottom2 sponsor" style="margin-left: 20px;">
        <a href="https://overturemaps.org/">
          <img src="img/sponsors/overture.svg" style="filter:brightness(0); margin-top: 12px;" alt="Overture Maps">
        </a>
      </div>
      <div class="col2 pad1 space-bottom2 sponsor" style="width: 120px;">
        <a href="https://kaart.com">
          <img src="img/sponsors/kaart.svg" style="width: 120px; margin-top: -8px; margin-left: -8px;" alt="Kaart">
        </a>
      </div>

      <!--<a class="col2 pad1 space-bottom2" href="mailto:sponsor-sotm@openstreetmap.org">
        <img src="img/sponsors.png" />
      </a>-->
    </div>

    <h3 class="clearfix small-title sponsors supporter">Supporter</h3>
    <div class="clearfix space-top2 space-bottom4 supporter">
      <a class="pad2 sponsor" href="https://www.osmf.jp/">OpenStreetMap Foundation Japan</a>
      <a class="pad2 sponsor" href="https://osgeo-oceania.org/">OSGeo Oceania</a>
      <a class="pad2 sponsor" href="https://home.dge.upd.edu.ph/people/alumni">UP Geomatics Alumni Association</a>
      <a class="pad2 sponsor" href="https://bnhr.xyz">BNHR</a>
      <a href="mailto:sponsor-sotm@openstreetmap.org" class="pad2 sponsor"><span style="font-style: italic; opacity: 0.6;">your name here</span></a>
    </div>

  </div>

</section>

